@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(98.5% 0.01 180);
  --foreground: oklch(18.5% 0.02 180);

   --card: oklch(96.8% 0.015 180);
  --card-foreground: oklch(15.1% 0.025 180);

    --popover: oklch(99% 0.008 180);
  --popover-foreground: oklch(15.1% 0.025 180); 
  
  --primary: oklch(42.5% 0.15 180);
  --primary-foreground: oklch(98% 0.005 180);

  --secondary: oklch(92.5% 0.02 180);
  --secondary-foreground: oklch(25.7% 0.08 180);

   --muted: oklch(94.5% 0.015 180);
  --muted-foreground: oklch(45% 0.06 180);

  --accent: oklch(88.8% 0.06 180);
  --accent-foreground: oklch(25.2% 0.12 180);

  --destructive: oklch(55.8% 0.16297 22.47);
  --destructive-foreground: oklch(98% 0.005 180);

  --success: oklch(42.2% 0.18913 141.811);

  --border: oklch(85% 0.025 180);
  --input: oklch(92.86% 0.01979 181.397);
  --ring: oklch(42.5% 0.15 180);

  --chart-1: oklch(48.5% 0.17527 349.733);
  --chart-2: oklch(42.5% 0.18 180);
  --chart-3: oklch(65.7% 0.18435 84.431);
  --chart-4: oklch(42.7% 0.25265 303.896);
  --chart-5: oklch(52.8% 0.16 200);

  --sidebar: oklch(97.8% 0.012 180);
  --sidebar-foreground: oklch(18.1% 0.025 180);
  --sidebar-primary: oklch(38.1% 0.18 185);
  --sidebar-primary-foreground: oklch(98% 0.005 180);
  --sidebar-accent: oklch(82.3% 0.08 185);
  --sidebar-accent-foreground: oklch(25.3% 0.12 180);
  --sidebar-border: oklch(88.5% 0.02 180);
  --sidebar-ring: oklch(42.5% 0.15 180);
}

.dark {
  --background: oklch(16.842% 0.00002 271.152);
  --foreground: oklch(82.656% 0.00009 271.152);
  --card: oklch(21.779% 0.00002 271.152);
  --card-foreground: oklch(93.1% 0.00011 271.152);
  --popover: oklch(21.779% 0.00002 271.152);
  --popover-foreground: oklch(93.1% 0.00011 271.152);
  --primary: oklch(78.771% 0.10999 247.889);
  --primary-foreground: oklch(100% 0.00011 271.152);
  --secondary: oklch(20.463% 0.00002 271.152);
  --secondary-foreground: oklch(62.675% 0.00007 271.152);
  --muted: oklch(28.502% 0.00003 271.152);
  --muted-foreground: oklch(63.009% 0.00007 271.152);
  --accent: oklch(78.771% 0.10999 247.889);
  --accent-foreground: oklch(100% 0.00011 271.152);
  --destructive: oklch(58.775% 0.14297 22.47);
  --destructive-foreground: oklch(58.775% 0.14297 22.47);
  --success: oklch(69.197% 0.22913 141.811);
  --border: oklch(26.033% 0.00003 271.152);
  --input: oklch(31.714% 0.00004 271.152 / 0.15);
  --ring: oklch(72.075% 0.14884 253.046);
  --chart-1: oklch(72.525% 0.17527 349.733);
  --chart-2: oklch(72.96% 0.14231 153.24);
  --chart-3: oklch(83.685% 0.16435 84.431);
  --chart-4: oklch(62.684% 0.23265 303.896);
  --chart-5: oklch(75.763% 0.15899 55.922);
  --sidebar: oklch(21.779% 0.00002 271.152);
  --sidebar-foreground: oklch(93.1% 0.00011 271.152);
  --sidebar-primary: oklch(54.134% 0.24669 293.012);
  --sidebar-primary-foreground: oklch(93.1% 0.00011 271.152);
  --sidebar-accent: oklch(47.309% 0.12385 259.016);
  --sidebar-accent-foreground: oklch(93.1% 0.00011 271.152);
  --sidebar-border: oklch(28.502% 0.00003 271.152);
  --sidebar-ring: oklch(72.075% 0.14884 253.046);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-zinc-600);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-zinc-500);
  }
}
